html {
    scroll-behavior: smooth;
}

#navbar {
    margin-bottom: 0 !important;
}

#wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between
}

.footer {
    color: #3479ce;
    border-top: 2px solid rgb(241, 151, 54);
}

.lpText {
    font-family: 'Noto Sans', sans-serif;
    color: #fff;
}

#getStartedBtn {
    font-size: 24px !important;
}

.jumbotron_text {
    font-family: 'Noto Sans', sans-serif;
    color: #fff;
}

.navbar_title {
    color: rgb(241, 151, 54) !important;
    font-size: 36px;
    position:relative;
}

#selectBoardJumbotron {
    background-image: url("../images/orangeRedGradient.png") !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

#landingPageJumbotron {
    background-image: url("../images/landingPageImage.png") !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    height: 500px;
    margin-bottom: 0 !important;
}

.deviceButtons {
    width: 500px;
    height: 100%;
    background: rgba(255, 255, 255, 0.214);
    border-radius: 10px;
    overflow-y: scroll;
}

.buttonLogo:hover {
    filter: drop-shadow(30px 10px 4px #4444dd) !important;
}

.editSection {
    background-image: url(../images/blueGradient.png);
    background-repeat: no-repeat !important;
    background-size: cover !important; 
    display: inline-block;
    width: 100%;
}

#collageOptionDiv {
    display: inline-block;
    border: 3px solid #ffffffa1 ;
    border-radius: 20px;
    overflow: scroll;
}

.collOptItem:hover {
    cursor: pointer;
    border: 5px solid #3479ce !important;
}

.blink {
    animation: blinker 1s step-start infinite;
}

@media screen and (max-width: 425px){

    .lpText {
        font-family: 'Noto Sans', sans-serif;
        color: #fff;
        font-size: 44px !important;
    }

    .deviceButtons {
        max-height: 350px;
        width: 100%;
    }

    #collageOptionDiv {
        height: 140px;
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        background: #ffffff64;
    }
}

@keyframes blinker {
    50% {
      opacity: 0;
    }
  }



