html {
    scroll-behavior: smooth;
}



.samsungText {
    opacity: 0;  
}

.iphoneText {
    opacity: 0; 
}

.jumbotron_text {
    font-family: 'Noto Sans', sans-serif;
    color: #fff;
}

.navbar_title {
    color: rgb(241, 151, 54) !important;
}

#selectBoardJumbotron {
    background-image: url("../images/orangeRedGradient.png") !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.deviceButtons {
    width: 500px;
}

.buttonLogo:hover {
    filter: drop-shadow(30px 10px 4px #4444dd) !important;
}

.editSection {
    background-image: url(../images/blueGradient.png);
    background-repeat: no-repeat !important;
    background-size: cover !important; 
    display: inline-block;
    width: 100%;
}

#collageOptionDiv {
    display: inline-block;
    border: 2px solid #ffffff;
}

.collOptItem:hover {
    cursor: pointer;
}


