.collage2 {
    height: 50%;
    width: auto;
    cursor: pointer;
    border: 3px solid #ffffff;
    overflow: hidden;
}

.collage3 {
    height: 33%;
    width: auto;
    cursor: pointer;
    border: 3px solid #ffffff;
    overflow: hidden;
}

.collage4 {
    height: 50%;
    width: 50%;
    float: left;
    cursor: pointer;
    border: 3px solid #ffffff;
    overflow: hidden;
}

.collage4Float {
    float: left;
    height: 50%;
    width: 50%;
}
