#buttonDisplayBtn:hover {
    border: 5px solid #3479ce !important;
}


#buttonDisplayBtn {
    /* background-image: url(../../images/blueGradient.png) !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    filter: brightness(95%) !important; */
    background: #ffffff;
    transition: .4s ease; 
}

@media screen and (max-width: 425px){
    #buttonDisplayBtn {
        border: none!important;
        background: rgba(255, 255, 255, 0.454);
        /* color: #ffffff !important; */
    }

    #buttonDisplayBtn:hover {
        border: none !important;
    }
}

